body {
    background-color: rgb(23 23 23);
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 1em; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 1.25rem;
}

.text-natural {
    color: rgb(163 163 163);
}